@using TradeAssociationWebsite.Models;
@model ViewNewsModel;
@{
    ViewData["Title"] = "Chi tiết bài viết";
}
<style>
    #spanDel
    {
        float: right;
        color: black;        
        cursor: pointer;
        font-weight: bold;
    }
    #spanDel:hover{
        color: red;
        cursor: pointer;
        background-color:beige;
        padding:2px;
    }

</style>
<!--================Blog Area =================-->
<section class="blog_area single-post-area section-padding" style="padding-top:10px">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 posts-list">
                <div class="single-post">
                    <div class="feature-img">
                        <img style="margin-left:5%" class="img-fluid" src="@Url.Content("~/Images/Events/" + Model.News.ImageEvent)" alt="">
                    </div>
                    <div class="blog_details">
                        
                        <h2>
                            @Model.News.Title
                        </h2>
                        <ul class="blog-info-link mt-3 mb-4">
                            <li><a href="#"><i class="fa fa-user"></i>Số lượt xem : @Model.News.ViewCount</a></li>
                            <li><a href="#"><i class="fa fa-comment"></i>@Model.CommentList.Count</a></li>
                            <li><a href="#">@Model.News.CreatedAt</a></li>
                        </ul>
                        <i>Thể loại: <b>@Model.News.Type</b></i>
                        <p class="modal-title"><b>@Model.News.Description</b></p>
                        <p class="excert">
                            @Model.News.Contents
                        </p>
                    </div>
                </div>
                <div class="blog-author" style="padding: 0; margin:0">
                    <a href="#" style="color:black">
                     Tác giả:    <h4> @Model.News.UserName</h4>
                    </a>
                </div>

                <!-- Comments -->
                <div class="comments-area">
                    <h4>@Model.CommentList.Count bình luận</h4>
                    <div class="comment-list">
                        
                        @* Từng comment *@
                        @foreach( var comment in Model.CommentList)
                        {
                           @*  <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">
                                    <div class="desc">
                                        <p class="comment">
                                            @comment.Content
                                        </p>
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex align-items-center">
                                                <h5>
                                                    <a href="#">@comment.FullName</a>
                                                </h5>
                                                    <p class="date">vào lúc @comment.CreatedAt</p>
                                            </div>     
                                        </div>
                                        
                                    </div>
                                </div>
                            </div> *@
                            <div class="container">
                                <div id="@comment.Id" style="margin-bottom: 20px" class="single-comment justify-content-between d-flex">
                                    <div class="user justify-content-between d-flex">
                                        <div class="desc">
                                            <h5 class="comment">
                                                @comment.Content
                                            </h5>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="d-flex align-items-center">
                                                    <h6>
                                                        <a href="#">@comment.FullName</a>
                                                    </h6>
                                                    <p class="date">vào lúc @comment.CreatedAt</p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <!-- Thêm biểu tượng xóa -->
                                    <button type="submit" id="spanDel" onclick="deleteComment(@comment.Id)">
                                        <i class="bi bi-trash-fill"></i> Xóa
                                    </button>

                                </div>
                            </div>
                            

                            
                        }                          
                            @* end Cmt *@
                        
                    </div>

                    <div class="comment-form">
                        <h4>Leave a Reply</h4>
                        <form class="form-contact comment_form" method="post" asp-controller="Comment" asp-action="CreateComment" id="commentForm">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <input type="hidden" name="newsid" value="@Model.News.Id" />
                                        <textarea class="form-control w-100" name="content" id="comment" cols="30" rows="9"
                                                  placeholder="Write Comment"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="button button-contactForm btn_1 boxed-btn">Send Message</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            
        </div>
    </div>
    <script>
        function deleteComment(cmtid) {
            if (confirm("Bạn có chắc chắn muốn xóa bình luận này không?")) {
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/Comment/DeleteComment/' + cmtid, true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === XMLHttpRequest.DONE) {
                        if (xhr.status === 200) {
                            var response = JSON.parse(xhr.responseText);
                            if (response.success) {
                                alert(response.message);
                                var element = document.getElementById(cmtid);
                                if (element) {
                                    element.parentNode.removeChild(element);
                                }
                            } else {
                                // Hiển thị thông báo lỗi
                                alert('Lỗi: ' + response.message);
                            }
                        } else {
                            console.error(xhr.statusText);
                        }
                    }
                };
                xhr.onerror = function () {
                    console.error('Request failed');
                };
                // Gửi dữ liệu id của bài viết cần xóa dưới dạng JSON
                xhr.send(JSON.stringify({ id: cmtid }));
            }
        }

    </script>
</section>


