@using TradeAssociationWebsite.Models;
@model ViewNewsModel;
@{
    ViewData["Title"] = "Chi tiết bài viết";
}

<!--================Blog Area =================-->
<section class="blog_area single-post-area section-padding" style="padding-top:10px">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 posts-list">
                <div class="single-post">
                    <div class="feature-img">
                        <img style="margin-left:5%" class="img-fluid" src="@Url.Content("~/Images/Events/" + Model.News.ImageEvent)" alt="">
                    </div>
                    <div class="blog_details">
                        <h2>
                            @Model.News.Title
                        </h2>
                        <ul class="blog-info-link mt-3 mb-4">
                            <li><a href="#"><i class="fa fa-user"></i>Số lượt xem : @Model.News.ViewCount</a></li>
                            <li><a href="#"><i class="fa fa-comment"></i> 03 Comments</a></li>
                            <li><a href="#">@Model.News.CreatedAt</a></li>
                        </ul>
                        <i>Thể loại: <b>@Model.News.Type</b></i>
                        <p class="modal-title"><b>@Model.News.Description</b></p>
                        <p class="excert">
                            @Model.News.Contents
                        </p>
                    </div>
                </div>
                <div class="blog-author">
                    <div class="media align-items-center">
                        <img src="assets/img/blog/author.png" alt="">
                        <div class="media-body">
                            <a href="#">
                                <h4>@Model.News.UserName</h4>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Comments -->
                <div class="comments-area">
                    <h4>05 Comments</h4>
                    <div class="comment-list">
                        <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">
                                <div class="thumb">
                                    <img src="assets/img/comment/comment_1.png" alt="">
                                </div>
                                <div class="desc">
                                    <p class="comment">
                                        Multiply sea night grass fourth day sea lesser rule open subdue female fill which them
                                        Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
                                    </p>
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <h5>
                                                <a href="#">Emilly Blunt</a>
                                            </h5>
                                            <p class="date">December 4, 2017 at 3:12 pm </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="comment-form">
                        <h4>Leave a Reply</h4>
                        <form class="form-contact comment_form" action="#" id="commentForm">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <textarea class="form-control w-100" name="comment" id="comment" cols="30" rows="9"
                                                  placeholder="Write Comment"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="button button-contactForm btn_1 boxed-btn">Send Message</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
</section>
<!--================ Blog Area end =================-->